venv/
*/venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/

db.sqlite3
db.sqlite3-journal
.env
*.log
staticfiles/
media/

celerybeat-schedule
celerybeat.pid

.pytest_cache/
.coverage
htmlcov/

.idea/
.vscode/
*.swp

.DS_Store
Thumbs.db