asgiref==3.12.1
celery==5.6.3
certifi==2026.7.22
charset-normalizer==3.4.9
Django==6.0.7
django-environ==0.14.0
djangorestframework==3.17.1
idna==3.18
redis==8.0.1
requests==2.34.2
sqlparse==0.5.5
tzlocal==5.4.4
urllib3==2.7.0
